<html>
    <body>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name='question.id' value="{{question.id}}">
            <br>{{marksForm}}<br><br>
            {{examForm}}<br><br>
            {{form}}<br><br>
            <br>{{question.question_text}}
            <br>
            <br>
            <ul>
                <li><input type="checkbox" name='checkbox' value="01">{{question.option_1}}</li>
                <li><input type="checkbox" name='checkbox' value="02">{{question.option_2}}</li>
                <li><input type="checkbox" name='checkbox' value="03">{{question.option_3}}</li>
                <li><input type="checkbox" name='checkbox' value="04">{{question.option_4}}</li>
            </ul>

            <input type="submit" value="Submit">
        </form>
        {{error}}

    </body>
</html>
