{% extends 'base1.html' %}
{% load static %}

{%block head%}
<link rel="stylesheet" href="/static/projects/css/DropdownCss.css">
<style>
  
</style>

{%endblock%}

{% block navbar1 %}  
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-toggle="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
{% endblock %}

{%block js%}
<script>
    $(function(){
      $('.dropdown-trigger').hover(function() {
          $(this).addClass('open');
      },
      function() {
          $(this).removeClass('open');
      });
  });
</script>
{%endblock%}