<html>
    <body>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Welcome bro
            {{ user.username }}            <br>Please Fill out the details, given below
            <br>
            {{form}}
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            <br><br>
            <input type="submit" value="Submit"><br>
            <a href="{% url 'profiles:DeleteProfile' %}">Delete Profile</a>

            <a href="{% url 'profiles:Logout' %}">Logout</a>
        </form>
    </body>
</html>
