<html>
    <body>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{error}}<br><br>
            {{ form }}
            <br>
            <br>
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            <br>
            <input type="submit" value="Submit">
            <br>
            <br>
            <a href="{% url 'profiles:Register' %}">Register</a>
            <br><br>
        </form>
    </body>
</html>
